* {
  box-sizing: border-box;
  margin: 0;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.card {
  /* 每張卡片之於整個牌桌的排版 */
  flex: 7% 1 1;
  height: 8vw;
  border: 2px solid #e0e0e0;
  margin: 2px;

  /* 單一卡片內部的排版 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.back:hover {
  border: 3px solid red;
  transform: scale(1.2);
}

/* 牌正面 */
.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 3px;
  font-size: 10px;
}

/* 單一卡片內第二數字反轉 */
.card p:last-child {
  transform: rotate(180deg);
}

/* 牌背 初始*/
.back {
  background: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png");
  background-size: cover;

  transition: all 0.3s;
}

.paired {
  background-color: #dae0e3;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}
#header .title h2 {
  padding-left: 0.5em;
}
#header .score {
  margin: 0;
  color: #6c90ac;
}
#header .tried {
  margin-top: 0;
}

.wrong {
  animation-name: worngAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes worngAnimation {
  to {
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #d16ba5, #69bff8, #5ffbf1);
  }
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: RGBA(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}
